RewriteEngine on

# Avoid redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteBase /registry/vulkan/

# Vulkan spec is now published as HTML5, not XHTML
RewriteRule ^specs/1.0-extensions/xhtml/(.*)$     specs/1.0-extensions/html/$1 [L,R=301]
RewriteRule ^specs/1.0-wsi_extensions/xhtml/(.*)$ specs/1.0-wsi_extensions/html/$1 [L,R=301]
RewriteRule ^specs/1.0/xhtml/(.*)$                specs/1.0/html/$1 [L,R=301]
RewriteRule ^specs/1.0/man/html/([PpVv].*\.html)$ specs/1.1-extensions/man/html/$1 [L,R=301,NC]
RewriteRule ^specs/1.0/apispec\.(.*)$             specs/README.md [L,R=301]
