RewriteEngine on

# Avoid redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

# Vulkan spec is now published as HTML5, not XHTML
RewriteRule ^specs/1.0-extensions/xhtml/vkspec.html	specs/1.0-extensions/html/vkspec.html
RewriteRule ^specs/1.0-wsi_extensions/xhtml/vkspec.html specs/1.0-wsi_extensions/html/vkspec.html
RewriteRule ^specs/1.0/xhtml/vkspec.html		specs/1.0/html/vkspec.html
