RewriteRule ^vkspec.html$ https://registry.khronos.org/vulkan/specs/latest/html/vkspec.html [L,R=301]
RewriteRule ^index.html$ https://docs.vulkan.org/spec/latest/chapters/introduction.html [L,NC,R=301]
RewriteRule ^chap1.html$ https://docs.vulkan.org/spec/latest/chapters/preamble.html [L,NC,R=301]
RewriteRule ^chap2.html$ https://docs.vulkan.org/spec/latest/chapters/introduction.html [L,NC,R=301]
RewriteRule ^chap3.html$ https://docs.vulkan.org/spec/latest/chapters/fundamentals.html [L,NC,R=301]
RewriteRule ^chap4.html$ https://docs.vulkan.org/spec/latest/chapters/initialization.html [L,NC,R=301]
RewriteRule ^chap5.html$ https://docs.vulkan.org/spec/latest/chapters/devsandqueues.html [L,NC,R=301]
RewriteRule ^chap6.html$ https://docs.vulkan.org/spec/latest/chapters/cmdbuffers.html [L,NC,R=301]
RewriteRule ^chap7.html$ https://docs.vulkan.org/spec/latest/chapters/synchronization.html [L,NC,R=301]
RewriteRule ^chap8.html$ https://docs.vulkan.org/spec/latest/chapters/renderpass.html [L,NC,R=301]
RewriteRule ^chap9.html$ https://docs.vulkan.org/spec/latest/chapters/shaders.html [L,NC,R=301]
RewriteRule ^chap10.html$ https://docs.vulkan.org/spec/latest/chapters/pipelines.html [L,NC,R=301]
RewriteRule ^chap11.html$ https://docs.vulkan.org/spec/latest/chapters/memory.html [L,NC,R=301]
RewriteRule ^chap12.html$ https://docs.vulkan.org/spec/latest/chapters/resources.html [L,NC,R=301]
RewriteRule ^chap13.html$ https://docs.vulkan.org/spec/latest/chapters/samplers.html [L,NC,R=301]
RewriteRule ^chap14.html$ https://docs.vulkan.org/spec/latest/chapters/descriptorsets.html [L,NC,R=301]
RewriteRule ^chap15.html$ https://docs.vulkan.org/spec/latest/chapters/interfaces.html [L,NC,R=301]
RewriteRule ^chap16.html$ https://docs.vulkan.org/spec/latest/chapters/textures.html [L,NC,R=301]
RewriteRule ^chap17.html$ https://docs.vulkan.org/spec/latest/chapters/fragmentdensitymapops.html [L,NC,R=301]
RewriteRule ^chap18.html$ https://docs.vulkan.org/spec/latest/chapters/queries.html [L,NC,R=301]
RewriteRule ^chap19.html$ https://docs.vulkan.org/spec/latest/chapters/clears.html [L,NC,R=301]
RewriteRule ^chap20.html$ https://docs.vulkan.org/spec/latest/chapters/copies.html [L,NC,R=301]
RewriteRule ^chap21.html$ https://docs.vulkan.org/spec/latest/chapters/drawing.html [L,NC,R=301]
RewriteRule ^chap22.html$ https://docs.vulkan.org/spec/latest/chapters/fxvertex.html [L,NC,R=301]
RewriteRule ^chap23.html$ https://docs.vulkan.org/spec/latest/chapters/tessellation.html [L,NC,R=301]
RewriteRule ^chap24.html$ https://docs.vulkan.org/spec/latest/chapters/geometry.html [L,NC,R=301]
RewriteRule ^chap25.html$ https://docs.vulkan.org/spec/latest/chapters/vertexpostproc.html [L,NC,R=301]
RewriteRule ^chap26.html$ https://docs.vulkan.org/spec/latest/chapters/primsrast.html [L,NC,R=301]
RewriteRule ^chap27.html$ https://docs.vulkan.org/spec/latest/chapters/fragops.html [L,NC,R=301]
RewriteRule ^chap28.html$ https://docs.vulkan.org/spec/latest/chapters/framebuffer.html [L,NC,R=301]
RewriteRule ^chap29.html$ https://docs.vulkan.org/spec/latest/chapters/dispatch.html [L,NC,R=301]
RewriteRule ^chap30.html$ https://docs.vulkan.org/spec/latest/chapters/device_generated_commands/generatedcommands.html [L,NC,R=301]
RewriteRule ^chap31.html$ https://docs.vulkan.org/spec/latest/chapters/sparsemem.html [L,NC,R=301]
RewriteRule ^chap32.html$ https://docs.vulkan.org/spec/latest/chapters/VK_KHR_surface/wsi.html [L,NC,R=301]
RewriteRule ^chap33.html$ https://docs.vulkan.org/spec/latest/chapters/VK_KHR_deferred_host_operations/deferred_host_operations.html [L,NC,R=301]
RewriteRule ^chap34.html$ https://docs.vulkan.org/spec/latest/chapters/VK_EXT_private_data.html [L,NC,R=301]
RewriteRule ^chap35.html$ https://docs.vulkan.org/spec/latest/chapters/accelstructures.html [L,NC,R=301]
RewriteRule ^chap36.html$ https://docs.vulkan.org/spec/latest/chapters/VK_EXT_opacity_micromap/micromaps.html [L,NC,R=301]
RewriteRule ^chap37.html$ https://docs.vulkan.org/spec/latest/chapters/raytraversal.html [L,NC,R=301]
RewriteRule ^chap38.html$ https://docs.vulkan.org/spec/latest/chapters/raytracing.html [L,NC,R=301]
RewriteRule ^chap39.html$ https://docs.vulkan.org/spec/latest/chapters/videocoding.html [L,NC,R=301]
RewriteRule ^chap40.html$ https://docs.vulkan.org/spec/latest/chapters/extensions.html [L,NC,R=301]
RewriteRule ^chap41.html$ https://docs.vulkan.org/spec/latest/chapters/features.html [L,NC,R=301]
RewriteRule ^chap42.html$ https://docs.vulkan.org/spec/latest/chapters/limits.html [L,NC,R=301]
RewriteRule ^chap43.html$ https://docs.vulkan.org/spec/latest/chapters/formats.html [L,NC,R=301]
RewriteRule ^chap44.html$ https://docs.vulkan.org/spec/latest/chapters/capabilities.html [L,NC,R=301]
RewriteRule ^chap45.html$ https://docs.vulkan.org/spec/latest/chapters/debugging.html [L,NC,R=301]
RewriteRule ^chap46.html$ https://docs.vulkan.org/spec/latest/appendices/spirvenv.html [L,NC,R=301]
RewriteRule ^chap47.html$ https://docs.vulkan.org/spec/latest/appendices/memorymodel.html [L,NC,R=301]
RewriteRule ^chap48.html$ https://docs.vulkan.org/spec/latest/appendices/compressedtex.html [L,NC,R=301]
RewriteRule ^chap49.html$ https://docs.vulkan.org/spec/latest/appendices/versions.html [L,NC,R=301]
RewriteRule ^chap50.html$ https://docs.vulkan.org/spec/latest/appendices/extensions.html [L,NC,R=301]
RewriteRule ^chap51.html$ https://docs.vulkan.org/spec/latest/appendices/roadmap.html [L,NC,R=301]
RewriteRule ^chap52.html$ https://docs.vulkan.org/spec/latest/appendices/boilerplate.html [L,NC,R=301]
RewriteRule ^chap53.html$ https://docs.vulkan.org/spec/latest/appendices/invariance.html [L,NC,R=301]
RewriteRule ^chap54.html$ https://docs.vulkan.org/spec/latest/appendices/glossary.html [L,NC,R=301]
RewriteRule ^chap55.html$ https://docs.vulkan.org/spec/latest/appendices/credits.html [L,NC,R=301]
